@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=PT+Sans&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "main";
@import "verebles";
@import "grid";
@import "check-box";
@import "banner-and-cart";
@import "flex-cart";
@import "table-img";
@import "delivery-stages";
@import "trust-carts";
@import "section-vidio";


